.hero-container {
  width: 100vw;
  min-height: 70vh;
  position: relative;
  .hero-image{
    display: block;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .v-container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  .hero-text-box {
    display: inline-block;
    white-space: nowrap;
    margin: 25% auto 0;
    h1 {
      color: #ffffff;
      font-size: 7.5vw;
      text-shadow: 0 0 2px #181818;
      font-weight: 800;
      font-family: $secondaryFont;
      text-align: center;
      line-height: 1.65;
    }
    .v-btn{
      float: right;
    }
    @media (min-width: $sm) {
      margin-top: 15%;
    }
  }
  .hero-buttons-box{
    .text-h4{
      color: #ffffff;
    }
  }
  }
  @media (min-height:$sm) {
    min-height: 45vh;
  }
}